body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(rgba(0, 0, 5, 0.8), rgba(0, 0, 5, 0.9)),url(./background.jpg);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ---------------------------------------------------------------------------------------- */
/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #dcdcdc;
  border-bottom: 1px solid gray;
  padding: 1.1rem;
  box-shadow: 0px 1px 20px white;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
}

.nav-score button{
  border: none;
  background-color:#dcdcdc ;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2rem;


}

/* ----------------------------------------------------------------------------------------- */

.main{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(70, 67, 67);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  box-shadow: 0px 15px 42px -6px rgba(255,255,255,0.65);
  -webkit-box-shadow: 0px 15px 42px -6px rgba(255,255,255,0.65);
  -moz-box-shadow: 0px 15px 42px -6px rgba(255,255,255,0.65);
}

.questions{
  border: 1px solid white;
  padding:1.5rem 4rem;
  margin: 1rem;
  border-radius: 3rem;
  /* margin-top: 8rem; */
}

.options{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.options button{
  width: 80%;
  border-radius: 10px;
  background-color: gray;
  color: white;
  padding: 10px;
  margin: 10px;
  font-weight: bold;

}

.finalScore{
  font-size: 4rem;
  margin: 10px;
  padding:10px


}

.restart{
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 2rem;
  border-radius: 10px;
  margin-left: 10px;
}

.buttons button{
  padding: 10px;
  border-radius: 10px;

}

.submit{
  background-color: green;
  color: white;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.nextQue{
  background-color: indianred;
  color: white;
  padding: 10px;
  display: block;
  margin-left:auto;
  margin-right: 10%;
}

.final-div{
  text-align: center;
  margin-top: 20%;
}